.arnaud{
    color: crimson;
}

.authie{
    color: #007734;
}

.labeur{
    color: chocolate;
}

.chaubet{
    color: blueviolet;
}

.salles{
    color: blue;
}

.barbat{
    color: cornflowerblue;
}

.bonnet{
    color: #50E34F;
}

.puntis{
    color: darkgoldenrod;
}

.minjot{
    color: hotpink;
}

.sergole{
    color: lightseagreen;
}

.sicre{
    color: khaki;
}

.vidal{
    color: mediumseagreen;
}

.pecheau{
    color: purple;
}

.briole{
    color: tomato;
}

.bouychou{
    color: gold;
}