.mainguy{
    color: #EE3365;
}

.legal{
    color: darkorange;
}

.lamy{
    color: darkgreen;
}

.laleau{
    color: blue;
}

.guihal{
    color: blueviolet;
}

.roussely{
    color: mediumseagreen;
}

.charpentier{
    color: brown;
}

.orain{
    color: darkorchid;
}

.galais{
    color: chartreuse;
}

.chansar{
    color: red;
}