.barthe{
    color: #EE3365;
}

.bordes{
    color: darkblue;
}

.cazes{
    color: blueviolet;
}

.decaux{
    color: #50E34F;
}

.germain{
    color: brown;
}

.laborie{
    color: chocolate;
}

.chourreau{
    color: #007734;
}

.dupuy{
    color: crimson;
}

.tapie{
    color: forestgreen;
}

.mauvesin{
    color: khaki;
}