.maillot{
    color: #EE3365;
}

.martin{
    color: #007734;
}

.nadaud{
    color: gold;
}

.compain{
    color: blue;
}

.chataignier{
    color: chocolate;
}

.dumont{
    color: darkorchid;
}

.morichon{
    color: dodgerblue;
}

.lavotte{
    color: brown;
}

.maffre{
    color: darkorange;
}